<!--Main Navigation-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark black navBar-header">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_index') }}"><strong>My little Travel</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_index') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_all_travels') }}">Mes voyages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Qui suis-je ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                    {% if not app.user %}
                        <div class="btn-action-logged">
                            <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                        </div>
                    {% else %}
                        {% if is_granted('ROLE_WRITER') %}
                            <div class="btn-group dropleft btn-action-logged">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Menu
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{{ path('admin_dashboard') }}">Dashboard Admin</a>
                                    <a class="dropdown-item" href="{{ path('security_logout') }}">Deconnexion</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="btn-action-logged">
                                <a class="nav-link"  href="{{ path('security_logout') }}">Deconnexion</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% include 'Carousels/HeaderHome.html.twig' %}
</header>

